*{
    margin: 0;
    margin-left: 10px;
}
html{

        font-size: 16px; /* 1 rem is 16px mean*/
}

body{
    height: 100vh;
    background-color: blanchedalmond;
}
.abs{
    background-color: aqua;
    width: 5cm;
}

.div2{
    background-color: chocolate;
    width: 50%;
    height: 50%;

}

.div3{

    background-color: yellow;
    width: 50%;
    height: 50vh;
}

.div4{

    background-color:rgb(250, 58, 250);
    width: 50vw;
}

.div5{
    font-size: 1em; /* 16 px*/

}
.div6{
    font-size: 2em; /* 32px */

}
.div7{
    font-size: 3em; /* 96px*/

}